<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHnqe1PbAXWNXH2Mtn4JSX9D_-xE2mXAM</string>
	<key>GCM_SENDER_ID</key>
	<string>275427639938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suyog.ToDoListApp.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-ios-8c5b1</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-ios-8c5b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275427639938:ios:a45c16aea05cdd89f12a9b</string>
</dict>
</plist>